.summary-card {
  width: 25%;
  height: 140px;
  display: flex;
  flex-direction: row;
  margin: 20px 20px;

  &__icon {
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    img {
      width: 100%;
      height: 66px;
    }
  }
}

.summary-card-content {
  width: 70%;
  display: flex;
  flex-direction: column;

  &__title {
    margin: 20px 0 0 8px;
    font-size: 24px;
    color: white;
  }

  &__number {
    margin: 10px 0 0 8px;
    font-size: 40px;
    color: white;
    font-weight: 500;
  }
}
